# The Things Network Storage Integration
TTN_STORAGE_URL=https://eu1.cloud.thethings.network/api/v3/as/applications/<application-id>/packages/storage/uplink_message
TTN_API_KEY=NNSXS.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
